<!-- Pagination (if available) -->
{% if paginator and paginator.total_pages > 1 %}
  <nav class="c-pagination" aria-label="Pagination">
    <p>Page {{ paginator.page }} of {{ paginator.total_pages }}</p>
    <div class="c-pagination__links">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}" class="c-btn c-btn--secondary c-pagination__link" aria-label="Go to previous page">
          Previous
        </a>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <span class="c-btn c-pagination__link active" aria-current="page">{{ page }}</span>
        {% else %}
          <a href="{{ paginator.base_path | relative_url }}/page/{{ page }}" class="c-btn c-btn--secondary c-pagination__link" aria-label="Go to page {{ page }}">
            {{ page }}
          </a>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}" class="c-btn c-btn--secondary c-pagination__link" aria-label="Go to next page">
          Next
        </a>
      {% endif %}
    </div>
  </nav>
{% endif %}

{% if page.previous or page.next %}
  <nav class="c-pagination" aria-label="Pagination">
    <div class="c-pagination__links">
      {% if page.previous %}
        <a href="{{ page.previous.url | relative_url }}" class="c-btn c-btn--secondary c-pagination__link" aria-label="Previous Project: {{ page.previous.title }}">
          ← Previous Project
        </a>
      {% endif %}
      {% if page.next %}
        <a href="{{ page.next.url | relative_url }}" class="c-btn c-btn--secondary c-pagination__link" aria-label="Next Project: {{ page.next.title }}">
          Next Project →
        </a>
      {% endif %}
    </div>
  </nav>
{% endif %}