// ## Blog Page Styles
// This file contains styles specific to the Blog page of the website.
// The styles are designed to ensure a clean and organized layout for displaying blog posts.
// SASS variables are used for spacing and layout to ensure consistency and easy updates.
// Referenced variables are defined in the settings folder for maintainability.

.c-blog-page {
  // ### Blog Page Container
  // - **margin:** Centers the content horizontally.
  // - **padding:** Adds inner spacing around the content for better readability.
  // - **max-width:** Limits the maximum width of the content to improve readability on larger screens.
  margin: 0 auto; // Center the content horizontally
  max-inline-size: 960px; // Limit the maximum width of the content
  padding: $spacing-lg; // Add padding using the spacing variable
}
