// _sass/pages/home.scss
// This file contains styles specific to the Home page of the website.
// It is important to keep these styles organized and maintainable.
// The styles are defined using SASS variables for easy customization and maintenance.
// The styles are defined in a way that they can be easily customized and reused throughout the project.
// Referenced variables are defined in the settings folder.


.home-page {
  margin: 0 auto;
  padding: $spacing-none; // Use spacing variable from _spacing.scss
}

// Keyframes for animations
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}