// _sass/settings/_radius.scss
$border-radius-sm: 4px;
$border-radius: 0.25rem;
$border-radius-sm: 0.125rem;
$border-radius-md: 0.375rem;
$border-radius-lg: 0.5rem;
$border-radius-xl: 0.75rem;
$border-radius-xxl: 1rem;
$border-radius-circle: 50%;