// _sass/settings/_transitions.scss
$transition-duration-fast: 0.2s;
$transition-duration-default: 0.3s;

// Animation Durations
$animation-duration-fast: 0.2s; // Fast animations
$animation-duration-default: 0.5s; // Default animation duration
$animation-duration-slow: 1s; // Slow animations