---
layout: default
---

<section class="contact-page container">
  <h1>{{ page.title }}</h1>
  
  <div class="contact-info">
    <p>I’m always excited to discuss new opportunities and collaborations. Feel free to reach out:</p>
    <ul>
      <li><strong>Email:</strong> 
        <a href="mailto:blakepoxford@outlook.com" aria-label="Email Blake Oxford">blakepoxford@outlook.com</a>
      </li>
      <li><strong>Phone:</strong> 
        <a href="tel:2482024479" aria-label="Call Blake Oxford">248-202-4479</a>
      </li>
      <li><strong>LinkedIn:</strong> 
        <a href="https://linkedin.com/in/blake-oxford" target="_blank" rel="noopener" aria-label="Visit Blake Oxford’s LinkedIn profile">
          linkedin.com/in/blake-oxford
        </a>
      </li>
    </ul>
  </div>

  <h2>Or Send Me a Message</h2>
  <div class="form-container">
    <iframe 
      width="640px" 
      height="480px" 
      src="https://forms.office.com/r/VM1YEqhx1m?embed=true" 
      frameborder="0" 
      marginwidth="0" 
      marginheight="0" 
      style="border: none; max-width:100%; max-height:100vh" 
      allowfullscreen 
      webkitallowfullscreen 
      mozallowfullscreen 
      msallowfullscreen>
    </iframe>
  </div>
</section>